---
import {SquareAsterisk, NotebookTabs, Send,} from '@lucide/astro';
---

<nav class="absolute flex gap-4 items-center border-gray-300 border rounded-full bg-gray-100 px-3 py-1 bottom-2.5 left-1/2 -translate-x-1/2 ">
    <div class="rounded-full bg-black h-4 w-11"></div>
    <div class={"p-1 px-2 flex items-center gap-2"}>
        <SquareAsterisk class="size-5"/>
        <span class="">Services</span>
    </div>
    <div class={"p-1 px-2 flex items-center gap-2"}>
        <NotebookTabs class="size-5"/>
        <span class="">Plans</span>
    </div>
    <div class={"p-1 px-2 flex items-center gap-2"}>
        <Send class="size-5"/>
        <span class="">Contact</span>
    </div>
</nav>