---
import '../styles/global.css'
import Nav from "../components/Nav.astro";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Soltyx</title>
	</head>
	<body class="m-o w-full h-full">
		<slot />
        <div class="bg-white h-screen w-screen text-black">
            <Nav/>
        </div>
	</body>
</html>